<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>recall</title>
  </head>
  <body>
    Siema z ejs-a
    wylosowany numer: <%=number%>
    <br><br><br>
    <% if (number > 5) { %>
      Wylosowany numer jest wyższy od 5
    <% } else { %>
      wylosowany numer nie jest wyższy niż 5
    <% } %>

  </body>
</html>
